body {
  width: 100vw;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.navlink {
  text-decoration: none;
  color: black;
}

.item {
  width: 300px;
  margin-right: 10px;
}
